@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #333;
    background-color: #dde2e7;
    padding: 5% 20%;
    line-height: 1.5;

}

header {
    text-align: center;
    margin-bottom: 35px;
}

h1,
h2 {
    color: #2c3e50;
    font-weight: 700;
}

.titulo {
    font-size: 2.5em;
}

.eslogan {
    font-size: 1.1em;
}

p {
    font-size: 0.8em;
    color: #566869;
}

/* Caja de recetas      */

.caja-recetas {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    text-align: center;
    /*border: 1px solid black;*/
}

.tarjeta-recetas {
    text-decoration: none;
    text-align: center;
    background-color: #fff;

    width: 200px;
    margin: 10px auto;
    padding: 10px;

    border: 1px solid grey;
    border-radius: 15px;
    overflow: hidden;
}

.tarjeta-recetas:hover {
    transform: translateY(-15px);
    box-shadow: 5px 5px #333;
}

.tarjeta-recetas h2 {
    padding: 10px;
    font-size: 1.3em;
}

.tarjeta-recetas img {
    height: 100px;
    width: auto;
    border-radius: 5px;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #566869;
}

/*----------------------------------------*/

/* Paginas de recetas */

.home {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #2980b9;
    text-decoration: none;
}

.home:hover {
    text-decoration: underline;
}

.recetas-header {
    text-align: center;
    margin-bottom: 30px;
}

.recetas-header h1 {
    margin-bottom: 10px 0px;
}

.descripcion {
    font-size: 1.1em;
    color: #7f8b8d;
}

/* Contenido de la receta*/

.contenedor-receta img {
    display: block;
    width: auto;
    max-height: 300px ;
    border-radius: 25px;
    margin: 30px auto ;
}

.contenedor-receta {
    max-width: 900px;
    margin: 0px auto;
    padding: 5px 20px;
}

/* Ingredientes e instrucciones*/

.info-receta {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.instrucciones,
.ingredientes {
    flex: 1 1 350px;
}

.instrucciones ol,
.ingredientes ul{
    margin-left: 20px;
    margin-top: 15px;
}

li {
    margin-bottom: 5px;
    line-height: 1.6;
}